Repository JuYeong0413/lohbs-pick, pull requests merged in 2020-10, with the labels that each got.

#56 Order, navbar, footer
  orders/templates/orders/main.html
  orders/templates/orders/new.html
  orders/urls.py
  orders/views.py
  picks/templates/picks/lohbs_pick.html
  picks/views.py
  templates/index.html
  templates/shared/_footer.html
  templates/shared/_navbar.html
Labels: orders, picks, 💻 Back-End, 💻 Front-End

#61 색깔 css 교체 등등..
  lohbs_pick/settings.py
  lohbs_pick/static/css/main.css
  lohbs_pick/static/css/style.css
  lohbs_pick/static/img/bbb.png
  lohbs_pick/static/img/ppp.png
  lohbs_pick/static/scss/theme/_home.scss
  lohbs_pick/static/scss/theme/_variables.scss
  templates/index.html
  templates/shared/_navbar.html
Labels: 💻 Front-End

#62 로고, 버튼 수정
  lohbs_pick/static/img/log.png
  picks/templates/picks/collection_update.html
  products/templates/products/main.html
  templates/shared/_navbar.html
Labels: 🎨 Design, 💻 Front-End

#65 banner
  lohbs_pick/static/img/banner_ours.png
  templates/index.html
Labels: 💻 Front-End

#67 폰트 교체
  lohbs_pick/static/css/lottemart.css
  lohbs_pick/static/css/style.css
  orders/templates/orders/main.html
  orders/templates/orders/new.html
  products/templates/products/main.html
  templates/base.html
  templates/index.html
  templates/shared/_footer.html
  templates/shared/_navbar.html
Labels: 💻 Front-End

#66 달력 드디어 끝났습니다. 사랑합니다 여러분
  lohbs_pick/settings.py
  templates/base.html
  users/templates/users/schedule.html
  users/templates/users/schedule_theme.html
  users/views.py
Labels: users, 💻 Back-End, 💻 Front-End, 🔍 Review Needed

#70 주기가 수정되면 컬렉션의 모든 오더 isvalid=false
  picks/views.py
Labels: picks, 💻 Back-End

#72 주소 버그수정, 컬렉션 개선
  orders/templates/orders/new.html
  orders/views.py
  picks/templates/picks/lohbs_pick.html
Labels: orders, picks, 💻 Back-End, 💻 Front-End

#82 버그잡음아찔....
  users/templates/users/schedule.html
Labels: 🚨 Bug

#84 pick.period 수정
  picks/templates/picks/lohbs_pick.html
Labels: picks, 💻 Front-End
